* {
  margin: 0;
}

body {
  background-color: #bdbdbd;
}

h1 {
  text-align: center;
  font-size: 7em;
  text-transform: uppercase;
  color: #ff0000;
  cursor: pointer;
  width: 400px;
  margin: 150px auto 0 auto;
}

h1:hover {
  color: #1167ca57;
  transition: 1s all;
}