* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  height: 100%;
}

#wrap {
  width: 980px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100%;
  position: relative;
}

#header {
  height: 232px;
  background: url(header.jpg);
  border-bottom: 5px solid #61a880;
}

#content {
padding-bottom: 50px;
}

#leftcol {
  float: left;
  width: 20%;
}

#main {
  float: left;
  width: 60%;
}

#rightcol {
  float: right;
  width: 20%;

}

.bothfooter {
  clear: both;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #61a880;
  position: absolute;
  bottom: 0;
}

.content {
  padding: 20px;
}

h1 {
  color: #be9c00;
  position: absolute;
  left: 390px;
  top: 110px;
}

 h2,img{
  padding-bottom: 20px;
}

img:hover {
  padding-bottom: 20px;
  width: 220px;
  transition: 0.3s;
}

table,td,tr,th {
  border: 1px solid #005a27;
}

table {
  border-collapse: collapse;
  color:  #005a27;
}

th {
  text-align: center;
  padding: 10px;
  background-color: #eeffe7;
}

td {
  padding: 4px 10px 4px 4px;
  background-color: #eeffe7;
}

td:hover {
  padding: 4px 10px 4px 4px;
  background-color: #6fc293;
  transition: 0.3s;
}

.table caption {
  padding-bottom: 5px;
  background-color: #eeffe7;
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
}

.russian {
  background-color: #eeffe7;
  padding: 20px;
  margin-top: 20px;
}

.russian p {
  color:  #005a27;
}

.russian p::first-letter {
  color:  #005a27;
  font-size: 32px;
}

.spanish {
  background-color: #eeffe7;
  padding: 20px;
  margin-top: 20px;
}

.spanish p {
  color:  #005a27;
}

.spanish p::first-letter {
  color:  #005a27;
  font-size: 32px;
}

.french {
  background-color: #eeffe7;
  padding: 20px;
  margin-top: 20px;
}

.french p {
  color:  #005a27;
}

.french p::first-letter {
  color:  #005a27;
  font-size: 32px;
}

a {
  color: #fff;
}

ul, li{
  display: inline;
  font-size: 20px;
}

ul {
  padding-left: 480px;
}

#footer p {
  padding-left: 520px;
  padding-bottom: 20px;
  color: #fff;
  padding-top: 20px;
  background-color: #61a880;
}
