* {
}

body {
  background-color: rgb(154,222,243);
}

h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 80px;
  font-family: Arial, sans-serif;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header a:hover {
  text-decoration: none;
  color: #005;
  transition: 0.3s;
}

h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  word-spacing: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: -50px;
}

ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

li {
  display: inline;
  background-color: #f9f29d;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: 2px solid #ad8e13;
  font-size: 15px;
}

ul a {
  color: #000;
  text-decoration: none;
}

.content {
  /*height: 430px;*/
  margin-left: 260px;
  margin-right: 260px;
  background-color: #fff;
  border: 3px solid #0e88a0;
  border-radius: 20px;
  padding-right: 60px;
  padding-left: 30px;
}

.content h3 {
  padding-top: 10px;
  font-size: 25px;
  font-family: Arial, sans-serif;
}

img {
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 15px;
}